<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#673ab7" />
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://{{ page.url }}">
    <meta property="og:description" content="{{ page.excerpt  | strip_html }}">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fereghdei.css"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css" />
    <link rel="icon" href="/assets/images/favicon.ico"/>
</head>