<!DOCTYPE html>
<html>
    {% include head.html %}
    <nav>
        {% include navbar.html %}
    </nav>
    <body class="site-content">
        <div class="post-head">
            <h1 class="doc-title">{{ page.title }}</h1>
            <h4>Written {{ page.date | date: '%B %d, %Y' }}</h4>
        </div>
        <div class="content">
            <div class="post-section-grid">
                <div class="post-section-content">
                    {{ content }}
                </div>
                <div class="post-section-author">
                    {% assign member = site.data.team[page.author] %}
                    <div class="team-member">
                        <a href="https://{{ member.mastodon.address }}/{{ member.mastodon.username }}">
                            <img src="{{ member.mastodon.image }}" class="team-member-image"/>
                        </a>
                        <p class="team-member-name">{{ member.name }}</p>
                        <p>{{ member.role }}</p>
                        <p><a href="https://{{ member.mastodon.address }}/{{ member.mastodon.username }}"><i class="fab fa-mastodon mastodon-font"></i> {{ member.mastodon.username }}</a></p>
                    </div>
                </div>
            </div>
        </div>
        {% include footer.html %}
        {% include scripts.html %}
    </body>
</html>