<!DOCTYPE html>
<html>
    {% include head.html %}
    <nav>
        {% include navbar.html %}
    </nav>
    <body class="site-content">
        <div class="doc-head">
            <h1 class="doc-title">{{ page.title }} Release Notes</h1>
            <p>{{ page.description }}</p>
        </div>
        <div class="content">
            <div class="doc-section">
                {{ content }}
            </div>
        </div>
        {% include footer.html %}
        {% include scripts.html %}
    </body>
</html>